{% extends "base.html" %}


{% block main %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />



<link rel="stylesheet" type="text/css" href="/static/css/charts/apex/styles.css">   
<script src="/static/js/charts/apex/apexcharts.js"></script>
            <form class="dashboard-buttons">
    			<a href="/status_kpis" class="login100-form-btn login100-form-bgbtn-selected">Status</a>
    			<a href="/capacity_kpis" class="login100-form-btn login100-form-bgbtn">Capacity</a>
    			<a href="/planning_kpis" class="login100-form-btn login100-form-bgbtn">Planning</a>			
            </form> 


<body>
<div class="container-allkpi">
<!---------- KPI 1 - Line Chart Priority -------->

<canvas id="kpi1-status"></canvas> 
<div class="container-kpi1">  
     <div id="chart"></div>

    <script>
      
        var options = {
          series: [
         {
          type: 'line',
          name: 'Low',
          data: {{ low | safe}},
          backgroundColor: '#F9CD03',
          borderColor: '#F9CD03'        
        
        }, {
          type: 'line',
          name: 'Medium',
          data: {{ medium | safe}}                
        }, {
          type: 'line',
          name: 'High',
          data: {{ high | safe}}          
        },{
          type: 'line',
          name: 'Critical',
          data: {{ critical | safe }}          
        }     
       
        ],
        
        xaxis: {
          categories: {{ labels | safe}},

        }, 

         colors: ['#F9CD03', '#E97B0D', '#DA162A', '#A8151C'],   
          chart: {
          height: 350,
          
        },
        

        stroke: {
          width: 5,
          curve: 'smooth'
        },
        

        
        title: {
          text: 'No. of Incidents Raised by Priority',
          align: 'left',
          style: {
            fontSize: "16px",
            color: '#666'
          }
                    
        },
        
        

        yaxis: {
          min: 0,
          max: 6000
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      
      
    </script>

</div>
</div>
</body>








{% endblock %}