{% extends "base.html" %}


{% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/charts/chart_settings.css">   
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
            <form class="dashboard-buttons">
    			<a href="/status_kpis" class="login100-form-btn login100-form-bgbtn-selected">Status</a>
    			<a href="/capacity_kpis" class="login100-form-btn login100-form-bgbtn">Capacity</a>
    			<a href="/planning_kpis" class="login100-form-btn login100-form-bgbtn">Planning</a>			
            </form> 

<!-------------- KPI 1 - LINE CHART ------------->
<body>
<div class="container-allkpi">
<div class="container-kpi1"><p><strong>Number of Tickets Raised by Priority</strong></p>
<canvas id="kpi1-status"></canvas> 
    
                <script> 
                    let ctx2 = document.getElementById('kpi1-status').getContext('2d')

                    let barChart2 = new Chart(ctx2, {
                        type: 'line',
                        data: {
                            labels: {{ labels | safe}},
                            datasets: [{
                                label: "Low",
                                data: {{ low | safe}},
                                backgroundColor: '#F9CD03',
                                borderColor: '#F9CD03',
                                borderWidth: 1
                            }, {
                                label: "Medium",
                                data: {{ medium | safe}},
                                backgroundColor: 'rgba(233, 123, 13,0.8)',
                                borderColor: 'rgba(233, 123, 13,0.8)',
                                borderWidth: 1
                            }, {
                                label: "High",
                                data: {{ high | safe}},
                                backgroundColor: 'rgba(218, 22, 42,1)',
                                borderColor: 'rgba(218, 22, 42,1)',
                                borderWidth: 1
                            }, {
                                label: "Critical",
                                data: {{ critical | safe}},
                                backgroundColor: 'rgba(168, 21, 28,1)',
                                borderColor: 'rgba(168, 21, 28,1)',
                                borderWidth: 1
                            }]
                        },
                            stroke: {
                              width: 50,
                              curve: 'smooth'
                            },

                        options: {
                            responsive: true,
                            legend: false
                        }

                    });

                </script>
</div>
</div>
</body>








{% endblock %}