<!doctype html>
<html lang="en">
  <head>
  	<title>Table 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/css/table_incidents/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #07</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-bordered table-dark table-hover">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>INC Code</th>
						      <th>INC Type</th>
						      <th>INC Status</th>
						      <th>Assigned Organization</th>
						      <th>Priority</th>
						      <th>Aging (Days)</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>{{ open_tickets[0][0] }}</td>
						      <td>{{ open_tickets[0][1] }}</td>
						      <td>{{ open_tickets[0][2] }}</td>
						      <td>{{ open_tickets[0][3] }}</td>
						      <td>{{ open_tickets[0][4] }}</td>
						      <td>{{ open_tickets[0][5] }}</td>						           
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td>{{ open_tickets[1][0] }}</td>
						      <td>{{ open_tickets[1][1] }}</td>
						      <td>{{ open_tickets[1][2] }}</td>
						      <td>{{ open_tickets[1][3] }}</td>
						      <td>{{ open_tickets[1][4] }}</td>
						      <td>{{ open_tickets[1][5] }}</td>	      
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>{{ open_tickets[2][0] }}</td>
						      <td>{{ open_tickets[2][1] }}</td>
						      <td>{{ open_tickets[2][2] }}</td>
						      <td>{{ open_tickets[2][3] }}</td>
						      <td>{{ open_tickets[2][4] }}</td>
						      <td>{{ open_tickets[2][5] }}</td>						      
						    </tr>
						    <tr>
						      <th scope="row">4</th>
						      <td>{{ open_tickets[3][0] }}</td>
						      <td>{{ open_tickets[3][1] }}</td>
						      <td>{{ open_tickets[3][2] }}</td>
						      <td>{{ open_tickets[3][3] }}</td>
						      <td>{{ open_tickets[3][4] }}</td>
						      <td>{{ open_tickets[3][5] }}</td>
						    </tr>
						    <tr>
						      <th scope="row">5</th>
						      <td>{{ open_tickets[4][0] }}</td>
						      <td>{{ open_tickets[4][1] }}</td>
						      <td>{{ open_tickets[4][2] }}</td>
						      <td>{{ open_tickets[4][3] }}</td>
						      <td>{{ open_tickets[4][4] }}</td>
						      <td>{{ open_tickets[4][5] }}</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/js/login/jquery.min.js"></script>
  <script src="/static/js/login/popper.js"></script>
  <script src="/static/js/login/bootstrap.min.js"></script>
  <script src="/static/js/login/main.js"></script>

	</body>
</html>

